body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: white;
}

.clock {
    font-size: 60px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    background-color: #444;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#time {
    font-size: 3em;
    letter-spacing: 2px;
}